<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>素敵なウェブサイト</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<!--style="background-color:yellow; display: flex; flex-direction: column; align-items: center"-->
<body class="p-1">
<div class="container-fluid text-center">
    <h1 style="color: purple">Welcome fr fr</h1>
        <a class="h2" href=@{/users}>Manage users</a>
</div>

</body>
</html>